@model Projekt.Models.Data

@{
    ViewBag.Title = "Oprettelsesblanket";
}



<script type="text/javascript" src="@Url.Content("/Scripts/myScript.js")"></script>


@section Style {
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
    <link href="@Url.Content("~/Content/myStyleSheet.css")" rel="stylesheet" type="text/css" />

}


<h2>Oprettelsesblanket</h2>



@using (Html.BeginForm("SendMail", "Oprettelse", FormMethod.Post, new { id = "oprettelsesform" }))
{

    <fieldset>
        <input type="hidden" value=@Model.Område name="område" id="område">
        <table>
            <tr><td>1. Start dato: </td><td><input type="text" id="datepicker" name="datepicker" /></td></tr>
            <tr>
                <td>2. Afdelings navn:</td>
                <td>
                    <select name="afdelinger" id="afdelinger">
                        @foreach (var item in Model.Afdelinger)
                        {
                            <option>@item.navn</option>
                        }

                    </select>
                </td>
            </tr>
            <tr><td>3. Afdelings nummer: </td><td><input type="text" id="afdelingsnummer" name="afdelingsnummer" /></td></tr>
            <tr><td>4. Medarbejderens navn: </td><td><input type="text" name="medarbejderNavn" id="medarbejderNavn" /></td></tr>
            <tr><td>5. Initialer: </td><td><input type="text" name="initialer" /></td></tr>
            <tr><td>6. Stillingsbetegnelse: </td><td><input type="text" name="stillingsbetegnelse" /></td></tr>
            <tr><td>7. Telefon - lokal nr.: </td><td><input type="text" name="telefon" /></td></tr>
            <tr><td>8. CPR nr. (Hvis medlem af FOA): </td><td><input type="text" name="cpr" /></td></tr>
            <tr><td>9. Adgang til FIKS</td></tr>
            <tr>
                <td></td>
                <td>
                    @foreach (var item in Model.Fiks)
                    {
                        <input type="radio" value=@item.id name="fiks">@item.kode<br />
                    }
                </td>
            </tr>
            <tr><td> 10. Adgang til 360 </td></tr>
            <tr>
                <td>Samme rettigheder som: </td>
                <td>
                    <table>
                        <tr><td>Navn: </td><td><input type="text" /> </td></tr>
                        <tr>
                            <td>Init.: </td>
                            <td><input type="text" /></td>
                        </tr>
                    </table>
                </td>
            <tr>
                <td>Adgangsgrupper</td>
                <td>


                    @foreach (var item in Model.Adgangsgrupper)
                    {

                        <input type="checkbox" name="a360" value=@item.id> @item.navn <br />
                    }

                </td>
            </tr>
            <tr><td>11. Funktionspostkasse: </td> <td id="td"><input type="text" name="postkasse" /> </td> <td><input type="button" id="tilføj" name="tilføj" value="Tilføj flere" /></td></tr>
            <tr><td>12. Speciale adgange: </td> <td><input type="text" name="specialeprogrammer" /> </td></tr>
            <tr><td>13. Udstyr: </td></tr>
            <tr>
                <td></td>
                <td>
                    @foreach (var item in Model.Udstyr)
                    {
                        <input type="checkbox" value=@item.id name="udstyr">@item.navn<br />
                    }
                </td>
            </tr>
            <tr><td>14. Sektionsleders navn/initialer: </td><td><input type="text" name="sektionsleder" /></td></tr>

        </table>

        <input type="submit" id="submit" value="Send til godkendelse" name="send">
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

        @Html.ActionLink("Tilbage", "VisOmråde", "Område")


    </fieldset>


}

